<div class="row filter">
   <%= form_tag lands_path, method: :get, class: 'fore' do%>
    <div class="col-md-12 col-md-offset-">
      <h3 class="center-title-h1">The easiest way to find apartment rental in New York</h3>
     
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :min_price%>
            <%= text_field_tag :min_price, params[:min_price], placeholder: 'Minimum', class: 'form-control input-sm'%>
         </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :max_price%>
            <%= text_field_tag :max_price, params[:max_price], placeholder: 'Maximum', class: 'form-control input-sm'%>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :bedrooms%>
            <%= text_field_tag :bedrooms, params[:bedrooms], placeholder: 'Beds', class: 'form-control input-sm'%>
         </div>
        </div>
      
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :bathrroms%>
            <%= text_field_tag :bathrroms, params[:bathrroms], placeholder: 'Baths', class: 'form-control input-sm'%>
         </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :neighborhood%>
            <%= select_tag(:neighborhood, options_from_collection_for_select(Location.all, :name, :name, params[:neighborhood]), {include_blank: true, class: "form-control"})%>
          </div>
        </div>

         <div class="col-md-3">
           <div class="form-group">
            <%= label_tag :max_square_footage%>
            <%= text_field_tag :max_square_footage, params[:max_square_footage], placeholder: 'Maximum', class: 'form-control input-sm'%>
          </div>
         </div>

          <div class="col-md-3">
             <div class="form-group">
              <%= label_tag :min_square_footage%>
              <%= text_field_tag :min_square_footage, params[:min_square_footage], placeholder: 'Minimum', class: 'form-control input-sm'%>
            </div>
          </div>

         <div class="col-md-1">
          <div class="form-group">
            <%= label_tag :parking%>
            <%= check_box_tag :street_parking, "YES", params[:street_parking], class: 'checkbox'%>
          </div>
        </div>

        <div class="col-md-1">
          <div class="form-group">
            <%= label_tag :cats%>
            <%= check_box_tag :cats, "YES", params[:cats], class: 'checkbox'%>
          </div>
        </div>

        <div class="col-md-1">
          <div class="form-group">
            <%= label_tag :dogs%>
            <%= check_box_tag :dogs, "YES", params[:dogs], class: 'checkbox'%>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
           <div class="form-group">
             <%= submit_tag 'Search', class: 'btn btn-default custom-btn search-btn'%>
           </div>
        </div>
      </div>
       <% end %>
    </div>
  </div>