<div class="container">
  
  <%= render 'filter' %>

  <% if @lands.empty? %>
  <hr>
  <h3>No results Found</h3>
  <% else %>

    <div class="row">
      <p id="notice"><%= notice %></p>
      <h1 class="center-title-h1">Properties Found</h1>
    </div>
    <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-4">
        <h3>Heading</h3>
      </div>
      <div class="col-md-1">
        <h3>Price</h3>
      </div>
      <div class="col-md-1">
        <h3>Beds</h3>
      </div>
      <div class="col-md-1">
        <h3>Bads</h3>
      </div>
      <div class="col-md-2">
        <h3>Neigborhood</h3>
      </div>
      <div class="col-md-2">
        <h3>Last Updated</h3>
      </div>
    </div>
    
    <% @lands.each do |land| %>
      <div class="row container-all-lands">
          <div class="col-md-1">
            <% if land.images.empty? %>
              <%= image_tag 'http://placehold.it/450x450', class: 'thumbnail image-previewapt' %>
            <% else %>
              <%= link_to image_tag land.images.first.url, class: 'thumbnail image-previewapt' %>
            <% end %>
          </div>
          <div class="col-md-4">
            <p><%= link_to land.heading.humanize, land %></p>
          </div>
          <div class="col-md-1">
            <p><%= number_to_currency(land.price, presicion: 0) %></p>
          </div>
          <div class="col-md-1">
            <p><%= land.bedrooms %></p>
          </div>
          <div class="col-md-1">
            <p><%= land.bathrooms %></p>
          </div>
          <div class="col-md-2">
            <p><%= land.neighborhood %></p>
          </div>
          <div class="col-md-2">
            <p><%= "#{time_ago_in_words(Time.at(land.timestamp.to_i))} ago"%></p>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 content-pagination">
          <%= will_paginate @lands, renderer: BootstrapPagination::Rails%>
        </div>
      </div>
</div>

 
<% end %>
