<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @land.heading %>
</p>

<p>
  <strong>Body:</strong>
  <%= @land.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= @land.price %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @land.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @land.bathrooms %>
</p>

<p>
  <strong>Square Footage:</strong>
  <%= @land.sqft %>
</p>

<p>
  <strong>Cats Alloewd:</strong>
  <%= @land.cats %>
</p>

<p>
  <strong>Dogs Allowed:</strong>
  <%= @land.dogs %>
</p>


<p>
  <strong>Street Parking:</strong>
  <%= @land.bathrooms %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @land.street_parking %>
</p>

<p>
  <strong>External url:</strong>
  <%= @land.external_url %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @land.timestamp %>
</p>

<% @images.each do |image| %>
  <div class="col-md-3">
    <%= image_tag image.url, class: "thumbnail" %>
  </div>
<% end %>

<%= link_to 'Edit', edit_land_path(@land) %> |
<%= link_to 'Back', lands_path %>
